.idea/*

*.bin
core/ui/New folder/IMG_20180419_093810.png
*.bin
*.bin
core/ui/captured.png
core/ui/cropped_image.jpg
core/ui/captured.png
core/ui/cropped_image.jpg
core/ui/captured.png
core/ui/captured.png
*.pyc
*.png
